ClientWSReservaMedicasUFRO/src/conf/xml-resources/web-service-references/ObtenerPorcentajeOcupacionBox/wsdl/baro.daemtemuco.cl_8080/G4SysReservaHoraMedica/ObtenerPorcentajeOcupacionBox.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="calcularPorcentajeOcupacionBox" type="tns:calcularPorcentajeOcupacionBox" />

<xs:element name="calcularPorcentajeOcupacionBoxResponse" type="tns:calcularPorcentajeOcupacionBoxResponse" />

<xs:complexType name="calcularPorcentajeOcupacionBox">
<xs:sequence>
<xs:element name="box" type="xs:int" />
<xs:element name="fecha1" type="xs:string" minOccurs="0" />
<xs:element name="fecha2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularPorcentajeOcupacionBoxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>