ClientWSReservaMedicasUFRO/src/conf/xml-resources/web-service-references/Grupo3/wsdl/baro.daemtemuco.cl_8080/Grupo3/Grupo3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Grupo3">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://baro.daemtemuco.cl:8080/Grupo3/Grupo3?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerMedicoDeUnaEspecialidad">
<part name="parameters" element="tns:obtenerMedicoDeUnaEspecialidad" />
</message>
<message name="obtenerMedicoDeUnaEspecialidadResponse">
<part name="parameters" element="tns:obtenerMedicoDeUnaEspecialidadResponse" />
</message>
<message name="obtenerPorcentajeOcupacionMedico">
<part name="parameters" element="tns:obtenerPorcentajeOcupacionMedico" />
</message>
<message name="obtenerPorcentajeOcupacionMedicoResponse">
<part name="parameters" element="tns:obtenerPorcentajeOcupacionMedicoResponse" />
</message>
<message name="obtenerBox">
<part name="parameters" element="tns:obtenerBox" />
</message>
<message name="obtenerBoxResponse">
<part name="parameters" element="tns:obtenerBoxResponse" />
</message>
<portType name="Grupo3">
<operation name="obtenerMedicoDeUnaEspecialidad">
<input wsam:Action="http://services/Grupo3/obtenerMedicoDeUnaEspecialidadRequest" message="tns:obtenerMedicoDeUnaEspecialidad" />
<output wsam:Action="http://services/Grupo3/obtenerMedicoDeUnaEspecialidadResponse" message="tns:obtenerMedicoDeUnaEspecialidadResponse" />
</operation>
<operation name="obtenerPorcentajeOcupacionMedico">
<input wsam:Action="http://services/Grupo3/obtenerPorcentajeOcupacionMedicoRequest" message="tns:obtenerPorcentajeOcupacionMedico" />
<output wsam:Action="http://services/Grupo3/obtenerPorcentajeOcupacionMedicoResponse" message="tns:obtenerPorcentajeOcupacionMedicoResponse" />
</operation>
<operation name="obtenerBox">
<input wsam:Action="http://services/Grupo3/obtenerBoxRequest" message="tns:obtenerBox" />
<output wsam:Action="http://services/Grupo3/obtenerBoxResponse" message="tns:obtenerBoxResponse" />
</operation>
</portType>
<binding name="Grupo3PortBinding" type="tns:Grupo3">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerMedicoDeUnaEspecialidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerPorcentajeOcupacionMedico">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerBox">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Grupo3">
<port name="Grupo3Port" binding="tns:Grupo3PortBinding">
<soap:address location="http://baro.daemtemuco.cl:8080/Grupo3/Grupo3" />
</port>
</service>
</definitions>